.App strong {
    text-align: center;
    margin-bottom: 0.8rem;
    display: block;
    font-size: 1.5rem;
}



.App-link {
  color: #61dafb;
}

.App-form{
  position: absolute;
  width: 100%;
  max-width: 320px;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
  height: 230px;
  padding: 2rem 1rem 1rem;
  border: 1px solid #ccc;
  box-sizing: content-box;
}

.App-form label{
    display: block;
    line-height: 1.8;
}

.App-form input, .App-form select{
  padding-left: 1rem;
  height: 35px;
  width: 100%;
  margin-bottom: 0.5rem;
  box-sizing: border-box;
}

.App-form input[type=submit]{
  background: #05a9da;
  border: none;
  color: white;
  font-weight: bold;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
